/*Pre configurated css template for the project.*/

a {

    text-decoration: none;

}




.btn-theme-template {
  
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    background: #003964;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #12578a;
    text-align: center;
    padding-top: 13px;
    margin-top: 15px;
    -webkit-box-shadow: -2px 11px 16px 2px rgba(181,174,174,0.7); 
    box-shadow: -2px 11px 16px 2px rgba(181,174,174,0.7);
  
}

.btn-theme-input {
  
    display: block;
    margin-top: 15px;
    width: 290px;
    height: 40px;
    border: none;
    border:solid 1.5px #003964;
    border-radius: 10px;  
    text-align: center;
  
}

.discription--text {
  
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    
  }
  
  .main--text {
    
    font-family: 'Noto Sans KR', sans-serif;
     font-size: 40px;
    
  }
  
  .sub--text {
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: lighter; /*optional*/
      
  }
  
  .normal--text {
    
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.5;
      
  }

  .normal--boldtext {
  
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    
  }

/*FLOAT CLEARFIX*/

.clearfix::after {

    content: "";
    clear: both;
    display: block;
    
}
    
.float--left {
    
    float: left;
    
}
    
.float--right {
    
    float: right;
    
}

/*inner configuration*/

.container-landing {

    width: 1080px;
    margin: 0 auto;
    height: 100%;

}

/*Header css configuration. Altered for use.*/

header {

    height: 200px;
    padding-top: 10px;
    background: #003964;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    position: relative;
  
  }

header .discription--text {

    color: #fff;

}

header .header-wraper {

    width: 1080px;
    margin: 0 auto;
    margin-top: 40px;

}

header .header-wraper .discription--text {

    text-align: left;
    margin-bottom: 10px;
    text-decoration: underline;

}

header .header-wraper .main--text {

    color: #fff;
    font-weight: lighter;


}

header .header-wraper .sub--text {

    color: rgba(255, 255, 255, 0.609);
    font-size: 14px;
    margin-top: 30px;

}

/*self diagnose preset css configuration section*/

.container-landing .diagnose-preset-wraper {

    height: 190px;
    border-bottom: 1px solid #9c9c9c;
    margin-top: 40px;
    margin-bottom: 70px;

}

.container-landing .diagnose-preset-wraper .normal--boldtext {

    padding-top: 20px;
    font-size: 30px;

}

.container-landing .selection-wraper {

    margin-top: 50px;
    display: block;

}

.container-landing .diagnose-preset-wraper .discription--text {

    position: absolute;
    margin-top: 30px;

}

.container-landing .diagnose-preset-wraper a {

    text-decoration: underline;
    color: #000;

}

.container-landing .diagnose-preset-wraper .selection-wraper .diagnose-answer-no-wraper {

    margin-top: 30px;

}


/*Footer section configuration */

footer {

    height: 150px;

}

.footer-wraper {

    margin-top: 40px;

}

.footer-wraper .float--left {

    width: 500px;

}

.footer-wraper .normal--text {

    font-size: 16px;

}

.footer-wraper .float--right .btn-theme-template {

    width: 400px;
    height: 60px;

}

.footer-wraper .float--right .btn-theme-template p {

    margin-top: 5px;

}

footer .discription--text {

    width: 1080px;
    position: absolute;
    margin-top: 120px;
    font-size: 7px;

}


@media only screen and (max-width: 1100px) {

    .container-landing {

        width: 700px;

    }

    header .header-wraper {

        width: 700px;
        margin: 0 auto;
        margin-top: 40px;

    }

    .container-landing .diagnose-preset-wraper .normal--boldtext {

        font-size: 27px;

    }

    .container-landing .diagnose-preset-wraper input {

        color:  red;

    }

    .container-landing .diagnose-preset-wraper .selection-wraper {

       font-size: 18px;

    }

    .container-landing .last-wraper {

        padding-bottom: 20px;

    }

    footer {

        height: 180px;

    }

    footer .footer-wraper .float--left {

        float: none;

    }

    footer .footer-wraper .float--right {

        float: none;
        

    }

    footer .footer-wraper .float--left {

        position: absolute;
        margin: 0 auto;
        width: 700px;

    }

    footer .footer-wraper .float--left .normal--text {

        
        text-align: center;
        

    }

    .footer-wraper .float--right .btn-theme-template {

        position: absolute;
        margin: 0 auto;  
        margin-top: 80px;
        width: 700px;
        


    }

    footer .discription--text {

            display: none;

    }



}

@media only screen and (max-width: 500px) {

    .container-landing {

        width: 300px;

    }

    /*Small device CSs header configuration*/

    header .header-wraper {

        position: relative;
        width: 300px;
        text-align: left;


    }

    header .header-wraper .discription--text {

        color: #dedede;

    }

    header .header-wraper .main--text {

        font-size: 25px;

    }

    header .header-wraper .sub--text {

        line-height: 1.5;

    }

    .container-landing .diagnose-preset-wraper .normal--boldtext {

        font-size: 20px;

    }

    .container-landing .diagnose-preset-wraper .selection-wraper .float--left {

        float: none;

    }

    .container-landing .diagnose-preset-wraper .selection-wraper .float--right {

        float: none;
        margin-top: 20px;

    }

    .container-landing .diagnose-preset-wraper .discription--text {

        display: none;

    }

    footer .footer-wraper .float--left .normal--text {

        font-size: 12px;
        text-align: center;
        width: 300px;

    }

    footer .footer-wraper .float--right .btn-theme-template {

        position: absolute;
        margin: 0 auto;  
        margin-top: 80px;
        width: 300px;


    }

    


}


