/*Pre configurated css template for the project.*/

a {

  text-decoration: none;

}

.btn-theme-template {
  
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    background: #003964;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #12578a;
    text-align: center;
    padding-top: 13px;
    margin-top: 15px;
    -webkit-box-shadow: -2px 11px 16px 2px rgba(181,174,174,0.7); 
    box-shadow: -2px 11px 16px 2px rgba(181,174,174,0.7);
  
}

.btn-theme-input {
  
    display: block;
    margin-top: 15px;
    width: 290px;
    height: 40px;
    border: none;
    border:solid 1.5px #003964;
    border-radius: 10px;  
    text-align: center;
  
}

.discription--text {
  
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    
  }
  
  .main--text {
    
    font-family: 'Noto Sans KR', sans-serif;
     font-size: 40px;
    
  }
  
  .sub--text {
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: lighter; /*optional*/
      
  }
  
  .normal--text {
    
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.5;
      
  }

/*inner configuration*/

.container-landing {

    width: 1080px;
    margin: 0 auto;
    height: 100%;

}

header .discription--text {

  height: 30px;
  padding-top: 10px;
  background: #003964;
  color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.75);

}

.container-landing {

  text-align: center;

}

.container-landing .title-wraper {

  margin-top: 100px;

}

.container-landing .title-wraper .sub--text {

  font-size: 25px;
  margin-top: 10px;

}

.container-landing .input-wraper input {

  margin: 0 auto;
  margin-top: 40px;

}

.container-landing .input-wraper .discription--text {

  font-size: 3px;
  margin-top: 10px;

}

.container-landing .btn-theme-template {

  margin: 0 auto;
  margin-top: 40px;

}

footer .discription--text {

  position: absolute;
  bottom: 40px;

}

.container-landing .control-wraper .discription--text {

  text-align: left;
  margin-top: 20px;

}

.container-landing .control-wraper a {

  text-decoration: none;

}



@media only screen and (max-width: 1100px) {

  .container-landing {

    width: 800px;

  }





}


@media only screen and (max-width: 500px) {

  .container-landing {

    width: 300px;

  }

  footer .discription--text {

    display: none;

  }



}




